.main_content_wrapper {
  width: 100%;

  .middle_wrapper {
    overflow: hidden;
  }

  .right_wrapper {
    margin-left: 2rem;
    .chart_content {
      h4 {
        color: var(--secondary-color, #25396f);
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }

    .shared_wrapper {
      margin-top: 2rem;

      h4 {
        color: var(--text-dark, #505887);
        font-size: 17.989px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 2rem;
      }

      .card_wrapper {
        .card {
          display: flex;
          flex-direction: column;
          align-items: start;
          margin-right: 12px;
          margin-bottom: 12px;
          border-bottom: 1px solid rgb(247, 247, 247);

          @include respond-to(xl) {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
          }

          .content_image {
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 6px;
            @include respond-to(xl) {
              flex-direction: row;
              justify-content: space-between;
              align-items: center;
            }
            .content {
              h5 {
                color: var(--text-dark, #505887);
                font-size: 13px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
              }
              p {
                color: var(--text-light, #718ebf);
                font-size: 10px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
              }
            }
          }
          p {
            color: var(--text-light, #718ebf);
            text-align: right;
            font-size: 10px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
        }
      }
    }

    .action_wrapper {
      margin-top: 5rem;
      display: flex;
      justify-content: end;
      .dash_wrapper {
        border-radius: 10px;
        border: 1px dashed #d0c9ff;
        background: #f6f4ff;
        width: 80%;

        position: relative;

        .action_content {
          border-radius: 10px;
          background: var(--pallet-1-primary, #51459e);
          position: absolute;
          top: -25px;
          left: -55px;
          width: 100%;
          overflow: hidden;
          position: relative;
          flex-shrink: 0;
          padding: 2rem;
          img {
            position: absolute;
            right: 0;
            top: 0;
          }

          p {
            color: var(--pallet-1-grey, #dee1e6);
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-bottom: 1rem;
            padding-right: 80px;
          }
          button {
            width: 107.281px;
            height: 34px;
            flex-shrink: 0;
            border-radius: 5px;
            background: var(--pallet-1-secondary, #84e8f4);
            color: var(--pallet-1-primary, #51459e);
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
        }
      }
    }
  }
}
