.quick_access_wrapper {
  margin: 12px 0px;
  width: 100%;

  h5 {
    color: #505887;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 1rem;
  }

  .card_wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;

    @include respond-to(md) {
      grid-template-columns: 1fr 1fr;
    }

    @include respond-to(lg) {
      grid-template-columns: 1fr 1fr 1fr;

      flex-direction: row;
    }
    .card {
      border-radius: 15px;
      background: #f5f5f5;
      display: flex;
      justify-content: center;
      flex-direction: column;
      .name_image {
        display: flex;
        justify-content: center;

        p {
          color: var(--secondary-color, #25396f);
          font-size: 13px;
          font-weight: 700;
          padding-left: 10px;
          margin: 10px 0px;

          span {
            color: var(--text-color, #7c8db5);
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
        }
      }
    }
  }
}
