#app {
  background-color: $background-color;
  width: 100%;
  overflow: hidden;
  margin-bottom: 2rem;

  .wrapper {
    background-color: $light;
    border-radius: 0.8rem;
    overflow: hidden;
    @extend .shadow-xs;
    margin-top: 1rem;

    .content_wrapper {
      display: grid;
      grid-template-columns: auto;
      gap: 1rem;
      margin-top: 2rem;

      .sidebar_wrapper {
        display: none;
        padding: 0.4rem;
        border-right: 1px solid $card-bg;
        background-color: $light;

        @include respond-to(lg) {
          display: block;
        }
      }

      .main_content_wrapper {
        display: grid;
        grid-template-columns: auto;

        @include respond-to(md) {
          grid-template-columns: 8fr 4fr;
        }

        .middle_wrapper {
          padding: 0.4rem;
        }

        .right_wrapper {
          padding: 0.4rem;
        }
      }

      @include respond-to(lg) {
        grid-template-columns: 2fr 10fr;
      }
    }
  }
}
