#app {
  background-color: $background-color;
  width: 100%;
  overflow: hidden;

  .wrapper {
    background-color: $light;
    border-radius: 0.8rem;
    overflow-y: auto;
    height: 95vh;
    @extend .shadow-xs;

    .content_wrapper {
      display: grid;
      grid-template-columns: auto;
      gap: 2rem;

      .sidebar_wrapper {
        display: none;
        padding: 0.4rem;

        @include respond-to(lg) {
          display: block;
        }
      }

      .middle_wrapper {
        background-color: azure;
        padding: 0.4rem;
      }

      .right_wrapper {
        padding: 0.4rem;
      }

      @include respond-to(lg) {
        grid-template-columns: 2fr 7fr 3fr;
      }
    }
  }
}
