#app {
  background-color: $background-color;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  .wrapper {
    background-color: $light;
    border-radius: 0.8rem;
    height: fit-content;
    @extend .shadow-xs;

    .content_wrapper {
      background-color: aquamarine;
      display: grid;
      grid-template-columns: auto;
      gap: 2rem;

      .sidebar_wrapper {
        display: none;
        padding: 0.4rem;

        @include respond-to(lg) {
          display: block;
        }
      }

      .middle_wrapper {
        background-color: azure;
        padding: 0.4rem;
      }

      .right_wrapper {
        padding: 0.4rem;
      }

      @include respond-to(lg) {
        grid-template-columns: 2fr 7fr 3fr;
      }
    }
  }

  //   padding: 2rem;
  //   border-radius: 0.4rem;
  //   @include absCenter;

  //   @include respond-to(desktop) {
  //     @extend .container--desktop;
  //   }
}
