/* Colors */
$background-color: #f6faff;
$text-color: #7c8db5;
$secondary-color: #25396f;
//
$secondary: #6c757d;
$success: #198754;
$info: #0dcaf0;
$warning: #ffc107;
$danger: #dc3545;
$light: #ffffff;
$dark: #212529;

/* Container */
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1440px;
$xxxl: 1600px;

$container-max-widths: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px,
  xxxl: 1600px,
);

$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px,
  xxxl: 1600px,
);

$shadows: (
  "xs": 0px 1px 2px 0px rgba(0, 0, 0, 0.05),
  "sm": 0px 1px 3px 0px rgba(0, 0, 0, 0.1),
  "md": 0px 4px 6px -1px rgba(0, 0, 0, 0.1),
  "lg": 0px 10px 15px -3px rgba(0, 0, 0, 0.1),
  "xl": 0px 20px 25px -5px rgba(0, 0, 0, 0.1),
);

/* Z-index */
$z-index: (
  "1000": 1000,
  "1020": 1020,
  "1030": 1030,
  "1040": 1040,
  "1050": 1050,
);
